version: 2.1
orbs:
  docker: circleci/docker@0.5.13

defaults: &defaults
  docker:
    - image: circleci/python:3.6-stretch
      environment:
        - DATABASE_URL=sqlite:///db.sqlite
        - CELERY_BROKER_URL=redis://redis:6379/0

        - BOT_TOKEN=100500:abc
        - MAILGUN_FROM=Note to self <telergram@selfmailbot.co>

    - image: redis:alpine

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: deps-{{ checksum "src/requirements.txt" }}

      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r src/requirements.txt


      - save_cache:
          key: deps-{{ checksum "src/requirements.txt" }}
          paths:
            - "venv"

      - run:
          name: Run Flake8
          command: |
            . venv/bin/activate
            flake8

      - persist_to_workspace:
          root: .
          paths:
            - .

  unittest:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .

      - run:
          command: |
            . venv/bin/activate
            py.test -x

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install deploy tooling
          command: |
            export D_RELEASE=0.3.0
            wget -O - https://raw.githubusercontent.com/f213/d/master/install.sh|sh
      - run:
          name: Add host key
          command: ./d add-host-key

      - run:
          name: Update image
          command: |
            ./d update-image circle@selfmailbot.co selfmailbot f213/selfmailbot:${CIRCLE_SHA1}


workflows:
  version: 2
  continuous-delivery:
    jobs:
      - build
      - unittest:
          requires:
            - build
      - docker/publish:
          image: f213/selfmailbot
          path: src
          requires:
            - unittest
          filters:
            branches:
              only: master

      - deploy:
          requires:
            - docker/publish
          filters:
            branches:
              only: master
